<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <webSocket enabled="false" />
        <handlers>
            <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
        </handlers>

        <rewrite>
             <rules>
                <rule name="Handle History Mode and custom 404/500" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.html" />
                </rule>
            </rules>
        </rewrite>

        <iisnode
            watchedFiles="web.config;*.js"
            node_env="%node_env%"
            loggingEnabled="true"
            logDirectory="iisnode"
            debuggingEnabled="true"
            maxLogFileSizeInKB="1048"
            maxLogFiles="50"
            devErrorsEnabled="true" />
    </system.webServer>
</configuration>